html,
body {
    height: 100%;
}

body {
    background-color: white;
    overscroll-behavior: none;
}


/* no rubber banding */

html {
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
}


/* /no rubber banding */

body {
    display: flex;
    flex-direction: column;
}

.h3 {
    margin-top: 16px;
}

textarea {
    width: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.bg-v3-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(6, 182, 212);
}

.hover\:bg-v3-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(6, 129, 151);
}

.text-v3-500 {
    color: rgba(6, 182, 212);
}

.hover\:bg-gray-200:hover {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
}